.form__submit-button {
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  border: none;
  background-color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}
