.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 45px 19px 60px;
}

@media screen and (max-width: 940px) {
  .page {
    padding: 28px 19px 36px;
  }
}
